label{
    /* !important means it can overridde all css */
    /* color:yellow !important; */
    color:yellow ;
}
#password{
    color: rgb(82, 15, 82);

}
#checkbox{
    color: rgb(225, 0, 255);
    
}
.nikhil{
    background-color: rgb(109, 202, 21);
    font-family: cursive;
    font-size: 21px;
    font-weight: 700;
    font-style: italic;
    text-decoration: line-through;
    text-decoration-color:blueviolet ;
    text-decoration-style: wavy;
}
.fontType{
    font-size: 20px;

}
#nishant{
    background-color: rgb(179, 111, 125);
    /* */
    margin: 10px 30px 30px 30px;
    border: 2px solid rgb(0, 255, 200);
    /* border-radius: 21%; */
     border-radius: 17px;
    /* padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 4px;  */
    padding: 10px;
    
}
.name{
    border: 2px solid black;
    height: 300px;
     /* background-image:  url("https://www.cis.upenn.edu/~matuszek/cit594-2012/Pages/backtracking_files/treesearch.gif"); */
     /* background-repeat: repeat-x; */
     /* background-repeat: repeat-y; */
     background-image: linear-gradient(180deg,red,yellow);
}
.image1{
    margin: 10px 2px;
    height: 300px;
    width: 100%;
    border: brown solid 2px;
    background-image:url("image_project.gif") ;
    /* background-size: cover; */

}
